
############################ PCI Pin location constraints ########################

#NET "PCI_AD[0]" LOC = P165;
#NET "PCI_AD[1]" LOC = P162;
#NET "PCI_AD[2]" LOC = P161;
#NET "PCI_AD[3]" LOC = P156;
#NET "PCI_AD[4]" LOC = P155;
#NET "PCI_AD[5]" LOC = P154;
#NET "PCI_AD[6]" LOC = P152;
#NET "PCI_AD[7]" LOC = P150;
#NET "PCI_AD[8]" LOC = P148;
#NET "PCI_AD[9]" LOC = P147;
#NET "PCI_AD[10]" LOC = P146;
#NET "PCI_AD[11]" LOC = P144;
#NET "PCI_AD[12]" LOC = P143;
#NET "PCI_AD[13]" LOC = P141;
#NET "PCI_AD[14]" LOC = P140;
#NET "PCI_AD[15]" LOC = P139;
#NET "PCI_AD[16]" LOC = P124;
#NET "PCI_AD[17]" LOC = P123;
#NET "PCI_AD[18]" LOC = P122;
#NET "PCI_AD[19]" LOC = P120;
#NET "PCI_AD[20]" LOC = P119;
#NET "PCI_AD[21]" LOC = P117;
#NET "PCI_AD[22]" LOC = P116;
#NET "PCI_AD[23]" LOC = P115;
#NET "PCI_AD[24]" LOC = P111;
#NET "PCI_AD[25]" LOC = P109;
#NET "PCI_AD[26]" LOC = P108;
#NET "PCI_AD[27]" LOC = P107;
#NET "PCI_AD[28]" LOC = P106;
#NET "PCI_AD[29]" LOC = P102;
#NET "PCI_AD[30]" LOC = P101;
#NET "PCI_AD[31]" LOC = P100;
#
#NET "PCI_CBE[0]" LOC = P149;
#NET "PCI_CBE[1]" LOC = P138;
#NET "PCI_CBE[2]" LOC = P125;
#NET "PCI_CBE[3]" LOC = P113;
#
#
#NET "PCI_DEVSEL" LOC = P131;
#NET "PCI_FRAME" LOC = P126;
#NET "PCI_GNT" LOC = P96;		
#NET "PCI_IDSEL" LOC = P114;
#NET "PCI_INTA" LOC = P95;
#NET "PCI_IRDY" LOC = P128;
#NET "PCI_PAR" LOC = P137;
#NET "PCI_PERR" LOC = P133;	
#NET "PCI_REQ" LOC = P97;
#NET "PCI_SERR" LOC = P135;	
#NET "PCI_STOP" LOC = P132;
#NET "PCI_TRDY" LOC = P130;
#
#NET "PCI_RST" LOC = P80;
#NET "PCI_CLK" LOC = P79; 
#
############################# Clock period constraints ########################
#
#//clock constrains
#NET "PCI_CLK" TNM_NET="PCI_CLK";
#
#TIMESPEC "TS_PCI_CLK" = PERIOD "PCI_CLK" 30 ns HIGH 50%;
#
#NET "PCI_CLK" CLOCK_DEDICATED_ROUTE=TRUE;
#
############################# PCI Clock offset constraints ########################
#
## PCI specifies 7ns Tsu for inputs and 11ns Tco for outputs
##BUS
##OFFSET = IN 7 ns BEFORE "PCI_CLK"  ;
##OFFSET = OUT 11 ns AFTER "PCI_CLK"  ;
##POINT-TO-POINT
##OFFSET = IN 10 ns BEFORE "PCI_CLK"  ;
##OFFSET = OUT 12 ns AFTER "PCI_CLK"  ;
#
#NET "PCI_FRAME" OFFSET = IN 7 ns BEFORE "PCI_CLK"  ;
#NET "PCI_FRAME" OFFSET = OUT 11 ns AFTER "PCI_CLK"  ;
#
#NET "PCI_IRDY" OFFSET = IN 7 ns BEFORE "PCI_CLK"  ;
#NET "PCI_IRDY" OFFSET = OUT 11 ns AFTER "PCI_CLK"  ;
#
#NET "PCI_DEVSEL" OFFSET = IN 7 ns BEFORE "PCI_CLK"  ;
#NET "PCI_DEVSEL" OFFSET = OUT 11 ns AFTER "PCI_CLK"  ;
#
#NET "PCI_TRDY" OFFSET = IN 7 ns BEFORE "PCI_CLK"  ;
#NET "PCI_TRDY" OFFSET = OUT 11 ns AFTER "PCI_CLK"  ;
#
#NET "PCI_STOP" OFFSET = IN 7 ns BEFORE "PCI_CLK"  ;
#NET "PCI_STOP" OFFSET = OUT 11 ns AFTER "PCI_CLK"  ;
#
#NET "PCI_PAR" OFFSET = IN 7 ns BEFORE "PCI_CLK"  ;
#NET "PCI_PAR" OFFSET = OUT 11 ns AFTER "PCI_CLK"  ;
#
#NET "PCI_PERR" OFFSET = IN 7 ns BEFORE "PCI_CLK"  ;
#NET "PCI_PERR" OFFSET = OUT 11 ns AFTER "PCI_CLK"  ;
#
#INST    "PCI_AD<*>"  TNM = "PCI_AD_GRP";
#TIMEGRP "PCI_AD_GRP" OFFSET = IN 7 ns BEFORE "PCI_CLK"  ;
#TIMEGRP "PCI_AD_GRP" OFFSET = OUT 11 ns AFTER "PCI_CLK";
#
#INST "PCI_CBE<*>" TNM = "PCI_CBE_GRP";
#TIMEGRP "PCI_CBE_GRP" OFFSET = IN 7 ns BEFORE "PCI_CLK"  ;
#TIMEGRP "PCI_CBE_GRP" OFFSET = OUT 11 ns AFTER "PCI_CLK"  ;
#
#NET "PCI_IDSEL" OFFSET = IN 10 ns BEFORE "PCI_CLK"  ;
#
#NET "PCI_GNT" OFFSET = IN 10 ns BEFORE "PCI_CLK"  ;
#
#NET "PCI_INTA" OFFSET = OUT 11 ns AFTER "PCI_CLK"  ;
#
#NET "PCI_REQ" OFFSET = OUT 12 ns AFTER "PCI_CLK"  ;
#
#NET "PCI_SERR" OFFSET = OUT 12 ns AFTER "PCI_CLK"  ;
#
##SPI IOs
#
NET "SPI_MISO" LOC = P172;

NET "SPI_MOSI" LOC = P169;

NET "SPI_SCLK" LOC = P168;

#NET "SPI_CS_CLK1" LOC = P178;
#
#NET "SPI_CS_CLK2" LOC = P176;
#
NET "SPI_CS_CLK3" LOC = P175;

#
#NET "SPI_CS_FLASH" LOC = P166;
#
##CLK STUFF
#
#NET "SYNC_CLK1" LOC = P190;
#
#NET "SYNC_CLK2" LOC = P189;
#
NET "SYNC_CLK3" LOC = P187;

NET "RF_CLK3_N" LOC = P196;
NET "RF_CLK3_P" LOC = P194;
#LED IOs

#NET "LED_OE" LOC = P191;
#
#NET "LED_CLK" LOC = P205;
#
#NET "LED_IN" LOC = P76;

#Clock

NET "BOARD_CLOCK" LOC=P184;

NET "BOARD_CLOCK" TNM_NET="BOARD_CLOCK";

TIMESPEC "TS_BOARD_CLOCK" = PERIOD "BOARD_CLOCK" 25 ns HIGH 50%;

NET "BOARD_CLOCK" CLOCK_DEDICATED_ROUTE=TRUE;

#Triggers Ack and JTAG

#NET "TMS" LOC = P198;
#NET "TMS_EN" = P197;
#
#NET "TCK" LOC = P21;
#NET "TCK_EN" = P20;
#
#NET "TRG[0]" LOC = P72;
#NET "ACK[0]" LOC = P74;
#NET "TDO[0]" LOC = P71;
#NET "TDI[0]" LOC = P68;
#
#NET "TRG[1]" LOC = P65;
#NET "ACK[1]" LOC = P67;
#NET "TDO[1]" LOC = P64;
#NET "TDI[1]" LOC = P63;
#
#NET "TRG[2]" LOC = P61;
#NET "ACK[2]" LOC = P62;
#NET "TDO[2]" LOC = P58;
#NET "TDI[2]" LOC = P57;
#
#NET "TRG[3]" LOC = P51;
#NET "ACK[3]" LOC = P52;
#NET "TDO[3]" LOC = P48;
#NET "TDI[3]" LOC = P46;
#
#NET "TRG[4]" LOC = P42;
#NET "ACK[4]" LOC = P43;
#NET "TDO[4]" LOC = P40;
#NET "TDI[4]" LOC = P39;
#
#NET "TRG[5]" LOC = P36;
#NET "ACK[5]" LOC = P37;
#NET "TDO[5]" LOC = P35;
#NET "TDI[5]" LOC = P34;
#
#NET "TRG[6]" LOC = P31;
#NET "ACK[6]" LOC = P33;
#NET "TDO[6]" LOC = P29;
#NET "TDI[6]" LOC = P28;
#
#NET "TRG[7]" LOC = P26;
#NET "ACK[7]" LOC = P27;
#NET "TDO[7]" LOC = P24;
#NET "TDI[7]" LOC = P22;
#
#NET "TRG[8]" LOC = P15;
#NET "ACK[8]" LOC = P16;
#NET "TDO[8]" LOC = P13;
#NET "TDI[8]" LOC = P12;
#
#NET "TRG[9]" LOC = P10;
#NET "ACK[9]" LOC = P11;
#NET "TDO[9]" LOC = P9;
#NET "TDI[9]" LOC = P7;
#
#NET "TRG[10]" LOC = P4;
#NET "ACK[10]" LOC = P5;
#NET "TDO[10]" LOC = P3;
#NET "TDI[10]" LOC = P2;
#
#NET "TRG[11]" LOC = P203;
#NET "ACK[11]" LOC = P204;
#NET "TDO[11]" LOC = P200;
#NET "TDI[11]" LOC = P199;
